body{
    background-color: darkslategray;
    color:white;
    font-family:monospace
}
.calculatorbox{
    background-color: black;
    margin:auto;
    margin-top: 10%;
    display:flex;
    overflow-x:auto;
    flex-wrap: wrap;
    width:300px;
    height: 400px;
    border: 7px solid grey;
    border-radius: 12px;
}
.calculatorbox > button{
    max-width: 75px;
    min-width: 75px;
    min-height: 50px;
    margin:0;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: darkblue;
    color:white;
    font-family:monospace;
}
#currentScreen,#lastScreen{
    min-height:65px;
    width:300px;
    background-color: black;
    margin:0;
    border:0;
    text-align: right;
    color:white;
}
#equal,#clear{
    min-width: 150px;
    max-width: 150px;
}
footer{
    margin-top: 25%;
    text-align: center;
}
#currentScreen{
    font-size: 50px;
}

#lastScreen{
    font-size: 25px;
}
h1{
    color:white;
    text-align: center;
    font-size: 35px;
}